<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfsoft.peis.mapper.TcPerCheckinfoMapper" >
	<resultMap id="BaseResultMap" type="com.jfsoft.peis.entity.TcPerCheckinfo" >
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="hospital_code" property="hospitalCode" jdbcType="VARCHAR" />
		<result column="testno" property="testno" jdbcType="VARCHAR" />
		<result column="recodeno" property="recodeno" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pycode" property="pycode" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="ageunit" property="ageunit" jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="DATE" />
		<result column="ordertime" property="ordertime" jdbcType="DATE" />
		<result column="orderuser" property="orderuser" jdbcType="VARCHAR" />
		<result column="signtime" property="signtime" jdbcType="DATE" />
		<result column="signuser" property="signuser" jdbcType="VARCHAR" />
		<result column="testcount" property="testcount" jdbcType="INTEGER" />
		<result column="cardnum" property="cardnum" jdbcType="INTEGER" />
		<result column="medicalcardnum" property="medicalcardnum" jdbcType="VARCHAR" />
		<result column="unitname" property="unitname" jdbcType="VARCHAR" />
		<result column="profession" property="profession" jdbcType="VARCHAR" />
		<result column="worktype" property="worktype" jdbcType="VARCHAR" />
		<result column="selfnum" property="selfnum" jdbcType="VARCHAR" />
		<result column="jobnum" property="jobnum" jdbcType="VARCHAR" />
		<result column="testtype" property="testtype" jdbcType="VARCHAR" />
		<result column="peisnum" property="peisnum" jdbcType="VARCHAR" />
		<result column="paytype" property="paytype" jdbcType="VARCHAR" />
		<result column="boxcode" property="boxcode" jdbcType="INTEGER" />
		<result column="boxname" property="boxname" jdbcType="VARCHAR" />
		<result column="batchno" property="batchno" jdbcType="VARCHAR" />
		<result column="ssid" property="ssid" jdbcType="VARCHAR" />
		<result column="nation" property="nation" jdbcType="VARCHAR" />
		<result column="addr" property="addr" jdbcType="VARCHAR" />
		<result column="postno" property="postno" jdbcType="VARCHAR" />
		<result column="abo" property="abo" jdbcType="VARCHAR" />
		<result column="degree" property="degree" jdbcType="VARCHAR" />
		<result column="ssno" property="ssno" jdbcType="VARCHAR" />
		<result column="healthcardnum" property="healthcardnum" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="statuscode" property="statuscode" jdbcType="INTEGER" />
		<result column="notice" property="notice" jdbcType="VARCHAR" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="areacode" property="areacode" jdbcType="VARCHAR" />
		<result column="marriage" property="marriage" jdbcType="VARCHAR" />
		<result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
		<result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
		<result column="reserve3" property="reserve3" jdbcType="VARCHAR" />
		<result column="reserve4" property="reserve4" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Example_Where_Clause" >
		<where >
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Update_By_Example_Where_Clause" >
		<where >
			<foreach collection="example.oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Base_Column_List" >
		ID, hospital_code, testno, recodeno, name, pycode, sex, age, ageunit, birthday, ordertime, 
		orderuser, signtime, signuser, testcount, cardnum, medicalcardnum, unitname, profession, 
		worktype, selfnum, jobnum, testtype, peisnum, paytype, boxcode, boxname, batchno, 
		ssid, nation, addr, postno, abo, degree, ssno, healthcardnum, tel, statuscode, notice, 
		memo, areacode, marriage, reserve1, reserve2, reserve3, reserve4
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
		select 
		<include refid="Base_Column_List" />
		from tc_per_checkinfo
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
		delete from tc_per_checkinfo
		where ID = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.jfsoft.peis.entity.TcPerCheckinfo" >
		insert into tc_per_checkinfo (ID, hospital_code, testno, 
			recodeno, name, pycode, 
			sex, age, ageunit, birthday, 
			ordertime, orderuser, signtime, 
			signuser, testcount, cardnum, 
			medicalcardnum, unitname, profession, 
			worktype, selfnum, jobnum, 
			testtype, peisnum, paytype, 
			boxcode, boxname, batchno, 
			ssid, nation, addr, 
			postno, abo, degree, 
			ssno, healthcardnum, tel, 
			statuscode, notice, memo, 
			areacode, marriage, reserve1, 
			reserve2, reserve3, reserve4
			)
		values (#{id,jdbcType=INTEGER}, #{hospitalCode,jdbcType=VARCHAR}, #{testno,jdbcType=VARCHAR}, 
			#{recodeno,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{pycode,jdbcType=VARCHAR}, 
			#{sex,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{ageunit,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
			#{ordertime,jdbcType=DATE}, #{orderuser,jdbcType=VARCHAR}, #{signtime,jdbcType=DATE}, 
			#{signuser,jdbcType=VARCHAR}, #{testcount,jdbcType=INTEGER}, #{cardnum,jdbcType=INTEGER}, 
			#{medicalcardnum,jdbcType=VARCHAR}, #{unitname,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, 
			#{worktype,jdbcType=VARCHAR}, #{selfnum,jdbcType=VARCHAR}, #{jobnum,jdbcType=VARCHAR}, 
			#{testtype,jdbcType=VARCHAR}, #{peisnum,jdbcType=VARCHAR}, #{paytype,jdbcType=VARCHAR}, 
			#{boxcode,jdbcType=INTEGER}, #{boxname,jdbcType=VARCHAR}, #{batchno,jdbcType=VARCHAR}, 
			#{ssid,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
			#{postno,jdbcType=VARCHAR}, #{abo,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR}, 
			#{ssno,jdbcType=VARCHAR}, #{healthcardnum,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
			#{statuscode,jdbcType=INTEGER}, #{notice,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
			#{areacode,jdbcType=VARCHAR}, #{marriage,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR}, 
			#{reserve2,jdbcType=VARCHAR}, #{reserve3,jdbcType=VARCHAR}, #{reserve4,jdbcType=VARCHAR}
			)
	</insert>

	<insert id="insertSelective" parameterType="com.jfsoft.peis.entity.TcPerCheckinfo" >
		insert into tc_per_checkinfo
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="hospitalCode != null" >
				hospital_code,
			</if>
			<if test="testno != null" >
				testno,
			</if>
			<if test="recodeno != null" >
				recodeno,
			</if>
			<if test="name != null" >
				name,
			</if>
			<if test="pycode != null" >
				pycode,
			</if>
			<if test="sex != null" >
				sex,
			</if>
			<if test="age != null" >
				age,
			</if>
			<if test="ageunit != null" >
				ageunit,
			</if>
			<if test="birthday != null" >
				birthday,
			</if>
			<if test="ordertime != null" >
				ordertime,
			</if>
			<if test="orderuser != null" >
				orderuser,
			</if>
			<if test="signtime != null" >
				signtime,
			</if>
			<if test="signuser != null" >
				signuser,
			</if>
			<if test="testcount != null" >
				testcount,
			</if>
			<if test="cardnum != null" >
				cardnum,
			</if>
			<if test="medicalcardnum != null" >
				medicalcardnum,
			</if>
			<if test="unitname != null" >
				unitname,
			</if>
			<if test="profession != null" >
				profession,
			</if>
			<if test="worktype != null" >
				worktype,
			</if>
			<if test="selfnum != null" >
				selfnum,
			</if>
			<if test="jobnum != null" >
				jobnum,
			</if>
			<if test="testtype != null" >
				testtype,
			</if>
			<if test="peisnum != null" >
				peisnum,
			</if>
			<if test="paytype != null" >
				paytype,
			</if>
			<if test="boxcode != null" >
				boxcode,
			</if>
			<if test="boxname != null" >
				boxname,
			</if>
			<if test="batchno != null" >
				batchno,
			</if>
			<if test="ssid != null" >
				ssid,
			</if>
			<if test="nation != null" >
				nation,
			</if>
			<if test="addr != null" >
				addr,
			</if>
			<if test="postno != null" >
				postno,
			</if>
			<if test="abo != null" >
				abo,
			</if>
			<if test="degree != null" >
				degree,
			</if>
			<if test="ssno != null" >
				ssno,
			</if>
			<if test="healthcardnum != null" >
				healthcardnum,
			</if>
			<if test="tel != null" >
				tel,
			</if>
			<if test="statuscode != null" >
				statuscode,
			</if>
			<if test="notice != null" >
				notice,
			</if>
			<if test="memo != null" >
				memo,
			</if>
			<if test="areacode != null" >
				areacode,
			</if>
			<if test="marriage != null" >
				marriage,
			</if>
			<if test="reserve1 != null" >
				reserve1,
			</if>
			<if test="reserve2 != null" >
				reserve2,
			</if>
			<if test="reserve3 != null" >
				reserve3,
			</if>
			<if test="reserve4 != null" >
				reserve4,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=INTEGER},
			</if>
			<if test="hospitalCode != null" >
				#{hospitalCode,jdbcType=VARCHAR},
			</if>
			<if test="testno != null" >
				#{testno,jdbcType=VARCHAR},
			</if>
			<if test="recodeno != null" >
				#{recodeno,jdbcType=VARCHAR},
			</if>
			<if test="name != null" >
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pycode != null" >
				#{pycode,jdbcType=VARCHAR},
			</if>
			<if test="sex != null" >
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="age != null" >
				#{age,jdbcType=INTEGER},
			</if>
			<if test="ageunit != null" >
				#{ageunit,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null" >
				#{birthday,jdbcType=DATE},
			</if>
			<if test="ordertime != null" >
				#{ordertime,jdbcType=DATE},
			</if>
			<if test="orderuser != null" >
				#{orderuser,jdbcType=VARCHAR},
			</if>
			<if test="signtime != null" >
				#{signtime,jdbcType=DATE},
			</if>
			<if test="signuser != null" >
				#{signuser,jdbcType=VARCHAR},
			</if>
			<if test="testcount != null" >
				#{testcount,jdbcType=INTEGER},
			</if>
			<if test="cardnum != null" >
				#{cardnum,jdbcType=INTEGER},
			</if>
			<if test="medicalcardnum != null" >
				#{medicalcardnum,jdbcType=VARCHAR},
			</if>
			<if test="unitname != null" >
				#{unitname,jdbcType=VARCHAR},
			</if>
			<if test="profession != null" >
				#{profession,jdbcType=VARCHAR},
			</if>
			<if test="worktype != null" >
				#{worktype,jdbcType=VARCHAR},
			</if>
			<if test="selfnum != null" >
				#{selfnum,jdbcType=VARCHAR},
			</if>
			<if test="jobnum != null" >
				#{jobnum,jdbcType=VARCHAR},
			</if>
			<if test="testtype != null" >
				#{testtype,jdbcType=VARCHAR},
			</if>
			<if test="peisnum != null" >
				#{peisnum,jdbcType=VARCHAR},
			</if>
			<if test="paytype != null" >
				#{paytype,jdbcType=VARCHAR},
			</if>
			<if test="boxcode != null" >
				#{boxcode,jdbcType=INTEGER},
			</if>
			<if test="boxname != null" >
				#{boxname,jdbcType=VARCHAR},
			</if>
			<if test="batchno != null" >
				#{batchno,jdbcType=VARCHAR},
			</if>
			<if test="ssid != null" >
				#{ssid,jdbcType=VARCHAR},
			</if>
			<if test="nation != null" >
				#{nation,jdbcType=VARCHAR},
			</if>
			<if test="addr != null" >
				#{addr,jdbcType=VARCHAR},
			</if>
			<if test="postno != null" >
				#{postno,jdbcType=VARCHAR},
			</if>
			<if test="abo != null" >
				#{abo,jdbcType=VARCHAR},
			</if>
			<if test="degree != null" >
				#{degree,jdbcType=VARCHAR},
			</if>
			<if test="ssno != null" >
				#{ssno,jdbcType=VARCHAR},
			</if>
			<if test="healthcardnum != null" >
				#{healthcardnum,jdbcType=VARCHAR},
			</if>
			<if test="tel != null" >
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="statuscode != null" >
				#{statuscode,jdbcType=INTEGER},
			</if>
			<if test="notice != null" >
				#{notice,jdbcType=VARCHAR},
			</if>
			<if test="memo != null" >
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="areacode != null" >
				#{areacode,jdbcType=VARCHAR},
			</if>
			<if test="marriage != null" >
				#{marriage,jdbcType=VARCHAR},
			</if>
			<if test="reserve1 != null" >
				#{reserve1,jdbcType=VARCHAR},
			</if>
			<if test="reserve2 != null" >
				#{reserve2,jdbcType=VARCHAR},
			</if>
			<if test="reserve3 != null" >
				#{reserve3,jdbcType=VARCHAR},
			</if>
			<if test="reserve4 != null" >
				#{reserve4,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByExampleSelective" parameterType="map" >
		update tc_per_checkinfo
		<set >
			<if test="record.id != null" >
				ID = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.hospitalCode != null" >
				hospital_code = #{record.hospitalCode,jdbcType=VARCHAR},
			</if>
			<if test="record.testno != null" >
				testno = #{record.testno,jdbcType=VARCHAR},
			</if>
			<if test="record.recodeno != null" >
				recodeno = #{record.recodeno,jdbcType=VARCHAR},
			</if>
			<if test="record.name != null" >
				name = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.pycode != null" >
				pycode = #{record.pycode,jdbcType=VARCHAR},
			</if>
			<if test="record.sex != null" >
				sex = #{record.sex,jdbcType=INTEGER},
			</if>
			<if test="record.age != null" >
				age = #{record.age,jdbcType=INTEGER},
			</if>
			<if test="record.ageunit != null" >
				ageunit = #{record.ageunit,jdbcType=VARCHAR},
			</if>
			<if test="record.birthday != null" >
				birthday = #{record.birthday,jdbcType=DATE},
			</if>
			<if test="record.ordertime != null" >
				ordertime = #{record.ordertime,jdbcType=DATE},
			</if>
			<if test="record.orderuser != null" >
				orderuser = #{record.orderuser,jdbcType=VARCHAR},
			</if>
			<if test="record.signtime != null" >
				signtime = #{record.signtime,jdbcType=DATE},
			</if>
			<if test="record.signuser != null" >
				signuser = #{record.signuser,jdbcType=VARCHAR},
			</if>
			<if test="record.testcount != null" >
				testcount = #{record.testcount,jdbcType=INTEGER},
			</if>
			<if test="record.cardnum != null" >
				cardnum = #{record.cardnum,jdbcType=INTEGER},
			</if>
			<if test="record.medicalcardnum != null" >
				medicalcardnum = #{record.medicalcardnum,jdbcType=VARCHAR},
			</if>
			<if test="record.unitname != null" >
				unitname = #{record.unitname,jdbcType=VARCHAR},
			</if>
			<if test="record.profession != null" >
				profession = #{record.profession,jdbcType=VARCHAR},
			</if>
			<if test="record.worktype != null" >
				worktype = #{record.worktype,jdbcType=VARCHAR},
			</if>
			<if test="record.selfnum != null" >
				selfnum = #{record.selfnum,jdbcType=VARCHAR},
			</if>
			<if test="record.jobnum != null" >
				jobnum = #{record.jobnum,jdbcType=VARCHAR},
			</if>
			<if test="record.testtype != null" >
				testtype = #{record.testtype,jdbcType=VARCHAR},
			</if>
			<if test="record.peisnum != null" >
				peisnum = #{record.peisnum,jdbcType=VARCHAR},
			</if>
			<if test="record.paytype != null" >
				paytype = #{record.paytype,jdbcType=VARCHAR},
			</if>
			<if test="record.boxcode != null" >
				boxcode = #{record.boxcode,jdbcType=INTEGER},
			</if>
			<if test="record.boxname != null" >
				boxname = #{record.boxname,jdbcType=VARCHAR},
			</if>
			<if test="record.batchno != null" >
				batchno = #{record.batchno,jdbcType=VARCHAR},
			</if>
			<if test="record.ssid != null" >
				ssid = #{record.ssid,jdbcType=VARCHAR},
			</if>
			<if test="record.nation != null" >
				nation = #{record.nation,jdbcType=VARCHAR},
			</if>
			<if test="record.addr != null" >
				addr = #{record.addr,jdbcType=VARCHAR},
			</if>
			<if test="record.postno != null" >
				postno = #{record.postno,jdbcType=VARCHAR},
			</if>
			<if test="record.abo != null" >
				abo = #{record.abo,jdbcType=VARCHAR},
			</if>
			<if test="record.degree != null" >
				degree = #{record.degree,jdbcType=VARCHAR},
			</if>
			<if test="record.ssno != null" >
				ssno = #{record.ssno,jdbcType=VARCHAR},
			</if>
			<if test="record.healthcardnum != null" >
				healthcardnum = #{record.healthcardnum,jdbcType=VARCHAR},
			</if>
			<if test="record.tel != null" >
				tel = #{record.tel,jdbcType=VARCHAR},
			</if>
			<if test="record.statuscode != null" >
				statuscode = #{record.statuscode,jdbcType=INTEGER},
			</if>
			<if test="record.notice != null" >
				notice = #{record.notice,jdbcType=VARCHAR},
			</if>
			<if test="record.memo != null" >
				memo = #{record.memo,jdbcType=VARCHAR},
			</if>
			<if test="record.areacode != null" >
				areacode = #{record.areacode,jdbcType=VARCHAR},
			</if>
			<if test="record.marriage != null" >
				marriage = #{record.marriage,jdbcType=VARCHAR},
			</if>
			<if test="record.reserve1 != null" >
				reserve1 = #{record.reserve1,jdbcType=VARCHAR},
			</if>
			<if test="record.reserve2 != null" >
				reserve2 = #{record.reserve2,jdbcType=VARCHAR},
			</if>
			<if test="record.reserve3 != null" >
				reserve3 = #{record.reserve3,jdbcType=VARCHAR},
			</if>
			<if test="record.reserve4 != null" >
				reserve4 = #{record.reserve4,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByExample" parameterType="map" >
		update tc_per_checkinfo
		set ID = #{record.id,jdbcType=INTEGER},
			hospital_code = #{record.hospitalCode,jdbcType=VARCHAR},
			testno = #{record.testno,jdbcType=VARCHAR},
			recodeno = #{record.recodeno,jdbcType=VARCHAR},
			name = #{record.name,jdbcType=VARCHAR},
			pycode = #{record.pycode,jdbcType=VARCHAR},
			sex = #{record.sex,jdbcType=INTEGER},
			age = #{record.age,jdbcType=INTEGER},
			ageunit = #{record.ageunit,jdbcType=VARCHAR},
			birthday = #{record.birthday,jdbcType=DATE},
			ordertime = #{record.ordertime,jdbcType=DATE},
			orderuser = #{record.orderuser,jdbcType=VARCHAR},
			signtime = #{record.signtime,jdbcType=DATE},
			signuser = #{record.signuser,jdbcType=VARCHAR},
			testcount = #{record.testcount,jdbcType=INTEGER},
			cardnum = #{record.cardnum,jdbcType=INTEGER},
			medicalcardnum = #{record.medicalcardnum,jdbcType=VARCHAR},
			unitname = #{record.unitname,jdbcType=VARCHAR},
			profession = #{record.profession,jdbcType=VARCHAR},
			worktype = #{record.worktype,jdbcType=VARCHAR},
			selfnum = #{record.selfnum,jdbcType=VARCHAR},
			jobnum = #{record.jobnum,jdbcType=VARCHAR},
			testtype = #{record.testtype,jdbcType=VARCHAR},
			peisnum = #{record.peisnum,jdbcType=VARCHAR},
			paytype = #{record.paytype,jdbcType=VARCHAR},
			boxcode = #{record.boxcode,jdbcType=INTEGER},
			boxname = #{record.boxname,jdbcType=VARCHAR},
			batchno = #{record.batchno,jdbcType=VARCHAR},
			ssid = #{record.ssid,jdbcType=VARCHAR},
			nation = #{record.nation,jdbcType=VARCHAR},
			addr = #{record.addr,jdbcType=VARCHAR},
			postno = #{record.postno,jdbcType=VARCHAR},
			abo = #{record.abo,jdbcType=VARCHAR},
			degree = #{record.degree,jdbcType=VARCHAR},
			ssno = #{record.ssno,jdbcType=VARCHAR},
			healthcardnum = #{record.healthcardnum,jdbcType=VARCHAR},
			tel = #{record.tel,jdbcType=VARCHAR},
			statuscode = #{record.statuscode,jdbcType=INTEGER},
			notice = #{record.notice,jdbcType=VARCHAR},
			memo = #{record.memo,jdbcType=VARCHAR},
			areacode = #{record.areacode,jdbcType=VARCHAR},
			marriage = #{record.marriage,jdbcType=VARCHAR},
			reserve1 = #{record.reserve1,jdbcType=VARCHAR},
			reserve2 = #{record.reserve2,jdbcType=VARCHAR},
			reserve3 = #{record.reserve3,jdbcType=VARCHAR},
			reserve4 = #{record.reserve4,jdbcType=VARCHAR}
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="com.jfsoft.peis.entity.TcPerCheckinfo" >
		update tc_per_checkinfo
		<set >
			<if test="hospitalCode != null" >
				hospital_code = #{hospitalCode,jdbcType=VARCHAR},
			</if>
			<if test="testno != null" >
				testno = #{testno,jdbcType=VARCHAR},
			</if>
			<if test="recodeno != null" >
				recodeno = #{recodeno,jdbcType=VARCHAR},
			</if>
			<if test="name != null" >
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pycode != null" >
				pycode = #{pycode,jdbcType=VARCHAR},
			</if>
			<if test="sex != null" >
				sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="age != null" >
				age = #{age,jdbcType=INTEGER},
			</if>
			<if test="ageunit != null" >
				ageunit = #{ageunit,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null" >
				birthday = #{birthday,jdbcType=DATE},
			</if>
			<if test="ordertime != null" >
				ordertime = #{ordertime,jdbcType=DATE},
			</if>
			<if test="orderuser != null" >
				orderuser = #{orderuser,jdbcType=VARCHAR},
			</if>
			<if test="signtime != null" >
				signtime = #{signtime,jdbcType=DATE},
			</if>
			<if test="signuser != null" >
				signuser = #{signuser,jdbcType=VARCHAR},
			</if>
			<if test="testcount != null" >
				testcount = #{testcount,jdbcType=INTEGER},
			</if>
			<if test="cardnum != null" >
				cardnum = #{cardnum,jdbcType=INTEGER},
			</if>
			<if test="medicalcardnum != null" >
				medicalcardnum = #{medicalcardnum,jdbcType=VARCHAR},
			</if>
			<if test="unitname != null" >
				unitname = #{unitname,jdbcType=VARCHAR},
			</if>
			<if test="profession != null" >
				profession = #{profession,jdbcType=VARCHAR},
			</if>
			<if test="worktype != null" >
				worktype = #{worktype,jdbcType=VARCHAR},
			</if>
			<if test="selfnum != null" >
				selfnum = #{selfnum,jdbcType=VARCHAR},
			</if>
			<if test="jobnum != null" >
				jobnum = #{jobnum,jdbcType=VARCHAR},
			</if>
			<if test="testtype != null" >
				testtype = #{testtype,jdbcType=VARCHAR},
			</if>
			<if test="peisnum != null" >
				peisnum = #{peisnum,jdbcType=VARCHAR},
			</if>
			<if test="paytype != null" >
				paytype = #{paytype,jdbcType=VARCHAR},
			</if>
			<if test="boxcode != null" >
				boxcode = #{boxcode,jdbcType=INTEGER},
			</if>
			<if test="boxname != null" >
				boxname = #{boxname,jdbcType=VARCHAR},
			</if>
			<if test="batchno != null" >
				batchno = #{batchno,jdbcType=VARCHAR},
			</if>
			<if test="ssid != null" >
				ssid = #{ssid,jdbcType=VARCHAR},
			</if>
			<if test="nation != null" >
				nation = #{nation,jdbcType=VARCHAR},
			</if>
			<if test="addr != null" >
				addr = #{addr,jdbcType=VARCHAR},
			</if>
			<if test="postno != null" >
				postno = #{postno,jdbcType=VARCHAR},
			</if>
			<if test="abo != null" >
				abo = #{abo,jdbcType=VARCHAR},
			</if>
			<if test="degree != null" >
				degree = #{degree,jdbcType=VARCHAR},
			</if>
			<if test="ssno != null" >
				ssno = #{ssno,jdbcType=VARCHAR},
			</if>
			<if test="healthcardnum != null" >
				healthcardnum = #{healthcardnum,jdbcType=VARCHAR},
			</if>
			<if test="tel != null" >
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="statuscode != null" >
				statuscode = #{statuscode,jdbcType=INTEGER},
			</if>
			<if test="notice != null" >
				notice = #{notice,jdbcType=VARCHAR},
			</if>
			<if test="memo != null" >
				memo = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="areacode != null" >
				areacode = #{areacode,jdbcType=VARCHAR},
			</if>
			<if test="marriage != null" >
				marriage = #{marriage,jdbcType=VARCHAR},
			</if>
			<if test="reserve1 != null" >
				reserve1 = #{reserve1,jdbcType=VARCHAR},
			</if>
			<if test="reserve2 != null" >
				reserve2 = #{reserve2,jdbcType=VARCHAR},
			</if>
			<if test="reserve3 != null" >
				reserve3 = #{reserve3,jdbcType=VARCHAR},
			</if>
			<if test="reserve4 != null" >
				reserve4 = #{reserve4,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.jfsoft.peis.entity.TcPerCheckinfo" >
		update tc_per_checkinfo
		set hospital_code = #{hospitalCode,jdbcType=VARCHAR},
			testno = #{testno,jdbcType=VARCHAR},
			recodeno = #{recodeno,jdbcType=VARCHAR},
			name = #{name,jdbcType=VARCHAR},
			pycode = #{pycode,jdbcType=VARCHAR},
			sex = #{sex,jdbcType=INTEGER},
			age = #{age,jdbcType=INTEGER},
			ageunit = #{ageunit,jdbcType=VARCHAR},
			birthday = #{birthday,jdbcType=DATE},
			ordertime = #{ordertime,jdbcType=DATE},
			orderuser = #{orderuser,jdbcType=VARCHAR},
			signtime = #{signtime,jdbcType=DATE},
			signuser = #{signuser,jdbcType=VARCHAR},
			testcount = #{testcount,jdbcType=INTEGER},
			cardnum = #{cardnum,jdbcType=INTEGER},
			medicalcardnum = #{medicalcardnum,jdbcType=VARCHAR},
			unitname = #{unitname,jdbcType=VARCHAR},
			profession = #{profession,jdbcType=VARCHAR},
			worktype = #{worktype,jdbcType=VARCHAR},
			selfnum = #{selfnum,jdbcType=VARCHAR},
			jobnum = #{jobnum,jdbcType=VARCHAR},
			testtype = #{testtype,jdbcType=VARCHAR},
			peisnum = #{peisnum,jdbcType=VARCHAR},
			paytype = #{paytype,jdbcType=VARCHAR},
			boxcode = #{boxcode,jdbcType=INTEGER},
			boxname = #{boxname,jdbcType=VARCHAR},
			batchno = #{batchno,jdbcType=VARCHAR},
			ssid = #{ssid,jdbcType=VARCHAR},
			nation = #{nation,jdbcType=VARCHAR},
			addr = #{addr,jdbcType=VARCHAR},
			postno = #{postno,jdbcType=VARCHAR},
			abo = #{abo,jdbcType=VARCHAR},
			degree = #{degree,jdbcType=VARCHAR},
			ssno = #{ssno,jdbcType=VARCHAR},
			healthcardnum = #{healthcardnum,jdbcType=VARCHAR},
			tel = #{tel,jdbcType=VARCHAR},
			statuscode = #{statuscode,jdbcType=INTEGER},
			notice = #{notice,jdbcType=VARCHAR},
			memo = #{memo,jdbcType=VARCHAR},
			areacode = #{areacode,jdbcType=VARCHAR},
			marriage = #{marriage,jdbcType=VARCHAR},
			reserve1 = #{reserve1,jdbcType=VARCHAR},
			reserve2 = #{reserve2,jdbcType=VARCHAR},
			reserve3 = #{reserve3,jdbcType=VARCHAR},
			reserve4 = #{reserve4,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>